<div>
    <h1>All upcoming events in PROburg!</h1>

    <div ng-repeat="event in events track by $index"
         ng-include="'/Scripts/app/views/oneEvent.html'">
    </div>

    <!--<table class="table table-hover">
         <tr ng-repeat="event in events track by $index">
             <td>{{event.Title}}</td>
             <td>{{event.Tagline}}</td>
             <td>{{event.Price}}</td>
             <td>{{event.DateHappening}}</td>
             <td>{{event.AgeLimit}}</td>
         </tr>
     </table>
        -->
</div>